.footer{
    box-sizing: border-box;
    
    width: 100%;
    color: rgb(45, 45, 45);
    background-color: #EEEEEE;    
    height: 10vh;
}

.p{
    margin: 0;
}

@media (min-width: 567px){
    .footer{
        height: 20vh;
    }
}



