.footer{
    box-sizing: border-box;
    
    width: 100%;
    color: rgb(45, 45, 45);
    background-color: #EEEEEE;    
    height: 100px;
    border: 1px solid blue;
}

.p{
    margin: 0;
}

@media (min-width: 567px){
}



