.footer{
    box-sizing: border-box;
    padding: 1rem 0;
    width: 100%;
    color: rgb(45, 45, 45);
    background-color: #EEEEEE;
    
}

@media (min-width: 567px){
    .footer{
        height: 20vh;
    }
}



