.container {
    padding:3rem 0 ;
    background-color: #6F38C5;
    min-height: 80vh;
}

.title{
    margin: 2rem;
    font-size: 1.8rem;
    color: #ddd;

}

.selectores{
    margin: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.selector{
    background-color: #ddd;
    border: none;
    color: #111;
    padding: 0.4rem;
    font-weight: 600;
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
}
.image{
    width: 95%;
    margin: 0.2rem auto 0;
    display: flex;
    border: 2px solid black;
    border-radius: 0.6rem;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
}

.contain_favorites{
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    gap: 0.8rem;
    width: fit-content;
    max-width: 500px;
    margin: 0 auto;
    
}

.fav{
    background-color: #ADDDD0;
    color: #111;
    font-weight: 900;
    padding: 0.4rem;
    box-shadow: 2px 2px 3px black;
    border: 2px solid #111;
    border-radius: 0.8rem;
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    -ms-border-radius: 0.8rem;
    -o-border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    width: 100px;
}
.id{
    width: fit-content;
    margin: 0 auto  ;
    
    padding-top: 0.2rem;
    
}

.link{
    text-decoration: none;
}

@media (min-width:576px){
    .fav{
        width: 120px;
    }

    .contain_favorites{
        max-width: 673px;
        width: 90%;
        gap: 0.9rem;
    }
    .id{
        font-size: 1.2rem;
    }
}

@media(min-width: 768px){
    .title{
        font-size: 3rem;
    }
    .contain_favorites{
        max-width: 800px;
    }
}

@media(min-width:992px){
    .contain_favorites{
        max-width: 1200px;
    }
}

