.container{
    
    margin: 0 auto;
    width: 384px;
    background-color: #ADDDD0;
    padding: 2.6rem 0;
    position: relative;
}

.imagen{
    margin: 1rem;
    outline: black 5px solid;
    width: 80%;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

h2{
    margin: 0;
}
h3{
    margin: 0 0.2rem;
}

.title{
    font-size: 2rem;
    
}

.id{
    margin: .4rem;
}


.status_unknown{
    background-color: rgb(244, 255, 185);
    padding: 0 1rem 0.2rem 1rem;
    position: absolute;
    top: 410px;
    right: 60px;
    font-size: 1rem;

    outline: 0.2rem solid rgb(255, 244, 94);
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}
.status_alive{
    background-color: rgb(182, 252, 199);
    padding: 0 1rem 0.2rem 1rem;
    position: absolute;
    top: 410px;
    right: 60px;
    font-size: 1rem;

    outline: 0.2rem solid rgb(45, 255, 98);
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}
.status_dead{
    background-color: rgb(252, 182, 182);
    padding: 0 1rem 0.2rem 1rem;
    position: absolute;
    top: 410px;
    right: 60px;
    font-size: 1rem;

    outline: 0.2rem solid rgb(255, 100, 100);
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.origin{
    margin: 0.6rem;
}

.description{
    
    text-align: start;
    padding-left: 3rem;
}

.gender, .species{
    display: flex;
    margin: 1rem;
}

.btn{
    position: absolute;
    left: 10px;
    top: 15px;
    text-decoration: none;
    background-color: #6F38C5;
    color: #EEE;
    padding:0 0.6rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}
