.container{
    padding-bottom: 2rem;
    height: fit-content;
}
.cardDetail{
padding:0 1rem 1rem;


margin: 0 auto;
position: relative;
max-height: 550px;


}

.container_description{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:1rem;
    text-align: start;
    height: fit-content;
}

.image{
    
    outline: black 5px solid;
    width: 200px;
    
    border-radius: 2rem;
    
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.image_container{
    position: relative;
    
}



.title{
    font-size: 2rem;
    margin: 0;
    
}

.id{
    margin: 0;
}

/* .container_image{
    
    position: relative;
    width: 50%;
    max-width: 200px;
    min-width: 160px;
    margin: 0 auto;
} */

.status_unknown{
    background-color: rgb(244, 255, 185);
    padding: 0 1rem 0.2rem 1rem;
    position: absolute;
    bottom: 5px;
    right: 15px;
    font-size: 1rem;

    outline: 0.2rem solid rgb(255, 244, 94);
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.status_alive{
    background-color: rgb(182, 252, 199);
    padding: 0 1rem 0.2rem 1rem;
    position: absolute;
    bottom: 5px;
    right: 15px;
    font-size: 1rem;

    outline: 0.2rem solid rgb(45, 255, 98);
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}
.status_dead{
    background-color: rgb(252, 182, 182);
    padding: 0 1rem 0.2rem 1rem;
    position: absolute;
    bottom: 5px;
    right: 15px;
    font-size: 1rem;

    outline: 0.2rem solid rgb(255, 100, 100);
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.description{
    
    height: fit-content;
    font-size: 1.3rem;
    font-weight: 400;
    opacity: .8;
    
    max-width: 300px;
}

.titles{
    
    font-weight: 900;
}

.btn{
    position: absolute;
    left: 20px;
    bottom: -10px;
    text-decoration: none;
    background-color: #6F38C5;
    color: #EEE;
    padding:0 0.6rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

@media (min-width:576px){
    .title{
        font-size: 3rem;
    }
    .container{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;   
        justify-content: center;     
        flex-wrap: wrap;
    }

    .up{
        height: 10vh;
    }

    .image{
        width: 250px;
    }
    .container_description{
        
        margin:1rem  0 0 0;
        text-align: start;  
    }

    .titles{
        font-size: 2rem;
    }

    .description{
        font-size: 2rem;
    }

    .id{
        font-size: 2rem;
    }

    .status_dead{
        font-size: 1.4rem;
        right: 15px;
        bottom: 0px;
    }

    .status_alive{
        font-size: 1.4rem;
        right: 15px;
        bottom: 0px;
    }
    .status_unknown{
        font-size: 1.4rem;
        right: 15px;
        bottom: 0px;
    }

    .btn{
        padding:0.4rem 1rem;
        font-size: 2rem;
        height: fit-content;
        bottom: -50px;
        
    }
}

@media (min-width:768px){
    .container{
        width: 100%;
    }
    .image{
        width: 350px;
    }

    .cardDetail{
        width: 80%;
        max-width: 800px;
    }
    .btn{
        padding:0.4rem 1rem;
        font-size: 2rem;
        height: fit-content;
        bottom: -50px;
        
    }
}