.home{
    box-sizing: border-box;
    
}

/* .img_home{
    height: 100vh;
    object-fit:100px 100px;
} */
.image{
    box-sizing: border-box;
    
    
    
    background-image: url("https://images3.alphacoders.com/812/812062.png");
    
    background-size: cover;
    background-position-x: 90%;
    background-repeat: no-repeat;
    

    padding: 7rem 0;
    height: 100vh;
    
}

.title, .description{
    color: #eee;
}

.title{
    font-size: 1.8rem;
}

.description{
    
    font-size: 0.8rem;
}

.divDown{   
    display: flex;
    flex-direction: column;
}



.mensaje{
    border: 1px solid #eee;
    margin: 2rem;
    font-size: 1.4rem;
    color: #eee;
    padding: 2rem;
    border-radius: 1.6rem;
    -webkit-border-radius: 1.6rem;
    -moz-border-radius: 1.6rem;
    -ms-border-radius: 1.6rem;
    -o-border-radius: 1.6rem;
}

@media ( min-width: 576px ) {
    
    .image{
        box-sizing: border-box;
        background-position-x: 90%;
        background-position-y:center;
        
        padding: 2.6rem;
    }
    .divDown{
        
    }
}

@media ( min-width: 768px){
    .image{
        
        height: 50vh;
    }

    .divDown{
        
    }

    
}

@media ( min-width: 992px){
    .image{
        
        height: 50vh;
    }
}

@media (min-width: 1200px){
    .home{
        max-width: 1280px;
        margin: 0 auto;
        
    }
    .image{
        height: 40vh;
        background-position-y:50%;
        max-width: 1280px;
        margin: 0 auto;
    }
}