.home{
    box-sizing: border-box;
    
}
.image{
    box-sizing: border-box;
    border: 1px solid black;
    
    
    background-image: url("https://images3.alphacoders.com/812/812062.png");
    
    background-size: cover;
    background-position: -610px;
    background-repeat: no-repeat;

    padding: 7rem 0;
    height: 576px;
}

.title, .description{
    color: #eee;
}

.title{
    font-size: 1.8rem;
}

.description{
    
    font-size: 0.8rem;
}

.divDown{   
    display: flex;
    flex-direction: column;
}



.mensaje{
    border: 1px solid #eee;
    margin: 2rem;
    font-size: 1.4rem;
    color: #eee;
    padding: 2rem;
    border-radius: 1.6rem;
    -webkit-border-radius: 1.6rem;
    -moz-border-radius: 1.6rem;
    -ms-border-radius: 1.6rem;
    -o-border-radius: 1.6rem;
}

@media ( min-width: 576px ) {
    
    .image{
        box-sizing: border-box;
        background-position: 0;
        width: 100%;
        height: 40vh;
        padding: 2.6rem;
    }
    .divDown{
        
    }
}

@media ( min-width: 768px){
    .image{
        
        height: 50vh;
        background-size: 800px;
        background-position: 0 -80px;
    }

    .divDown{
        
    }
}

@media ( min-width: 992px){
    .image{
        width: 100%;
        background-position: 0;
    }
}