.App {
   text-align: center;
   background-color: #0E1729;
   background-image: url("https://images.unsplash.com/photo-1570284613060-766c33850e00?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
   background-repeat: no-repeat;
   background-size: cover;
   

}
