.container{
    font-size: 1    rem;
    box-sizing: border-box;
    background-color: #4faa92;
    padding: 2rem 2rem 7rem;
    padding-top: 5rem;
    
    height: fit-content;
    
    color: #ddd;
}

.title{
    margin-bottom: 1rem;
    font-size: 2rem;
}
.subtitle{
    margin: 0;
    font-weight: 200;
    margin-bottom: 2rem;
}

.parrafo{
    max-width: 800px;
    margin: 0 auto;
}

@media (min-width: 576px){
    .container{
        font-size: 1.6rem;
    }

}