.container{
    
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1.6rem; 
    margin: 0 auto;
    
    width: 100vw;

    border: 1px solid red;
    
}

.container_cards{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:2rem 0.8rem;
    margin:0 auto;
    width: 80%;
    margin-bottom: 2rem;
    
    border:1px solid green
    
}

@media (min-width: 576px){
    .container{
        width: 90%;
        margin-top: 2rem;
        
    }

    .container_cards{
        width: 100%;
    }
}

@media (min-width: 768px){
    .container{
        width: 100%;
    }

    .container_cards{
        gap: 0.8rem;
    }
}