.container{
    
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1.6rem; 
    margin: 0 auto;
    padding: 1rem;

    width: 100vw;
}

.container_cards{
    display: flex;
    flex-wrap: wrap;
    gap:0.8rem;
    margin:0 auto;
    width: 80%;
    
    
}

@media (min-width: 576px){
    .container{
        width: 90vw;
    }
}
@media (min-width: 576px){
    .container{
        max-width: 1200px;
    }
}