.container{
    
    margin: 0 auto;
    background-color: #ADDDD0;
    height: 90vh;
    min-height:380px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding-top: 3rem;
    
}


.up{
    background-color: #111;
    height: 12vh;
    width: 100%;
    position: absolute;
    max-width: 1600px;
    top: 0
    

}

@media (min-width:576px){
    .container{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;   
        justify-content: center;     
        height: 80vh;
        
        
    }

    .up{
        height: 10vh;
    }
}

@media (min-width:768px){
    .container{
        justify-content: flex-start;
        padding-top: 6rem;
        height: 550px;
        min-height: 650px;
    }
}



