    .nav{
        box-sizing: border-box;
        background-color: #6F38C5;
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }
    .menu{
        
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
    .menu > .link{
        color: #EEEEEE;
        text-decoration: none;
        font-size: 1.4rem;
    }
    
    .add{
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.2rem;
    }

    .random{
        font-size: 1rem;
        color: white;
        background-color: #ADDDD0;
        border: none;
        padding:0.2rem  0.4rem;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
}

@media (min-width: 385px){
    .nav{
        background-color: red;
        padding: 1rem;
        flex-direction: row;
        align-items: center;
        
    }
    .menu{
        margin: 0;
    }
}

@media (min-width: 768px){
    .nav{
        background-color: green;
        justify-content: space-around;
    }
}




